@use "../../../../scss/" as *;

.post {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 20fr 1fr 1fr;
  justify-content: space-between;
  background-color: $ligthGrey;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  align-items: center;
  .post__likes {
    white-space: nowrap;
  }
  .post__deleteButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
