@use "../../scss/variables" as *;
.login {
  padding: 4rem 5rem;
  .login__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    border-radius: 5px;

    background-color: $ligthGrey;
    .login__form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 80%;
      margin-top: 2rem;
      .login__form_text,
      .login__form_password {
        input {
          width: 100%;
        }
      }
      .login__form_checkbox {
        input {
          margin-right: 1rem;
        }
      }
      .login__form_captcha {
        input {
          padding: 0;
        }
        img {
          max-width: 50%;
          margin-bottom: 0.5rem;
        }
      }
      input {
        padding: 0.4rem 1rem;
        font-size: 16px;
      }
      .login__form_error {
        color: red;
      }
    }
    button {
      width: 100%;
      padding: 0.4rem 1rem;
      cursor: pointer;
      background-color: $white;
      border: 1px solid $dark;
      &:hover {
        background-color: $medium;
        color: $white;
        transition: all 0.15s ease-in;
      }
    }
  }
}
