@use "../../scss/variables" as *;

.users {
  padding: 2rem 3rem;

  .users__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .users__btn {
      width: 30%;
      margin-top: 1rem;
      padding: 0.4rem;
      cursor: pointer;
      border: 1px solid $ligthGrey;
      &:hover {
        background-color: $ligthGrey;
      }
    }
  }
}
.users_buttons {
  display: flex;
  margin-top: 1rem;
  button {
    min-width: 30px;
    border: 1px solid $ligthGrey;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    &:hover {
      background-color: $ligthGrey;
    }
  }
  .selectedPage {
    font-weight: bold;
  }
}
