@use "../../../scss/" as *;

.dialogs__messages {
  overflow-y: scroll;
  .dialogs__messages_add {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 5fr 1fr;
    .dialogs____textarea {
      resize: none;
      padding: 1rem;
    }
    button {
      padding: 0 1rem;
      background-color: $white;
      border: 1px solid $dark;
      cursor: pointer;
      text-align: center;
      font-size: 1.4vw;
      &:hover {
        background-color: $medium;
        color: $white;
        transition: all 0.15s ease-in;
      }
    }
  }
}
