@use "../../../scss/" as *;

.dialogs__messages {
  overflow-y: scroll;
  .dialogs__messages_add {
    padding: 1rem 2rem;
    display: flex;
    .dialogs____textarea {
      width: 90%;
      resize: none;
      height: 7vh;
      padding: 1rem;
      margin-bottom: 1rem;
    }
    button {
      padding: 0 1rem;
      background-color: $white;
      border: 1px solid $dark;
      width: 10%;
      cursor: pointer;
      height: 7vh;
      text-align: center;
      &:hover {
        background-color: $medium;
        color: $white;
        transition: all 0.15s ease-in;
      }
    }
  }
}
