@use "../../scss/" as *;

.dialogs {
  .dialogs__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    .dialogs__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .dialogs__item {
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1rem 2rem;
        &:hover {
          background-color: $ligthGrey;
          transition: all 0.2s ease-in;
        }
      }
    }
  }
}
