@use "../../scss/" as *;

.dialogs {
  .dialogs__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    .dialogs__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
